# exclude everything
db/*
!db/.gitignore
ssh_commands.txt

/server/node_modules

/pipeline/target
/pipeline/src/main/resources/application-local.yml
/client/.env
/server/.env
.env

server/data/
client/package-lock.json
analysis/

/server/testperformance.py
client/node_modules/
server/__pycache__/
server/api/__pycache__/
server/models/__pycache__/
server/core/__pycache__/
server/services/__pycache__/
server/tests/__pycache__/
